
    <footer class="footer {{ footer_class }}">
      <div class=" container ">
        <nav>
          <ul>

            <li>
              <a href="{{ data.github }}">
                Flask NowUI Sources
              </a>
            </li>

            <li>
              <a href="{{ data.product }}">
                Flask NowUI Info
              </a>
            </li>

          </ul>
        </nav>
        <div class="copyright" id="copyright">
          &copy;
          <script>
            document.write(new Date().getFullYear())
          </script> AppSeed <a href="{{ data.generator }}">App Generator</a> - Designed by <a href="https://www.creative-tim.com?ref=appseed">Creative Tim</a>
        </div>
      </div>
    </footer>
